.skill-icon {
    transition: transform 0.2s ease-in-out;  /* Smooth transition on hover */
  }
  
  .skill-icon:hover {
    transform: scale(1.1);  /* Scale up slightly on hover */
  }
#chrono-container .chrono-navigation {
    display: none;
  }

  .skill_dark {

    background-color: black !important;
    color: white !important;
  }
  
  .skill_light {
    background-color: white !important;
    color: black !important;
  }
  